<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>
        {% block title %}Welcome{% endblock %} &mdash; Improve! 
      </title>
      <meta name="description" content="Facebook app">
      <meta name="author" content="None">
      <!—[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]—>
      <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">  
  </head>
  <body background="bootstrap/img/bg.png">

    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <div id="fb-root"></div>

    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});

        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          window.location.reload();
        });

        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            // connected
          } else if (response.status === 'not_authorized') {
            // not_authorized
            login();
          } else {
            // not_logged_in
            login();
          }
       });


      };

      // Load the SDK's source Asynchronously
      // Note that the debug version is being actively developed and might 
      // contain some type checks that are overly strict. 
      // Please report such bugs using the bugs tool.
      (function(d, debug){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
         ref.parentNode.insertBefore(js, ref);
       }(document, /*debug*/ false));


      function login() {
        FB.login(function(response) {
            if (response.authResponse) {
                // connected
                testAPI()
            } else {
                // cancelled
            }
        });
      }

      function testAPI() {
        alert('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
            alert('Good to see you, ' + response.name + '.');
        });
      }


    </script>

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
      <div class="navbar navbar-fixed-top">
  	  <div class="navbar-inner">
  	    <div class="container">
  	      <a class="brand" href="#">IMPROVE!</a>
  	      <ul class="nav">
            {% block nav %}Welcome{% endblock %}
  	      </ul>
  	    </div>
  	  </div>
     </div>

    {% block body %}{% endblock %} 
  </body>
</html>