<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>
        {% block title %}Welcome{% endblock %} &mdash; Improve! 
      </title>
      <meta name="description" content="Facebook app">
      <meta name="author" content="None">
      <!—[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]—>
      <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">  
  </head>
  <body background="bootstrap/img/bg.png" onload="getFBPerms()">

    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <div id="fb-root"></div>

    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
      <div class="navbar navbar-fixed-top">
  	  <div class="navbar-inner">
  	    <div class="container">
  	      <a class="brand" href="#">IMPROVE!</a>
  	      <ul class="nav">
            {% block nav %}Welcome{% endblock %}
  	      </ul>
  	    </div>
  	  </div>
     </div>

    {% block body %}{% endblock %} 
  </body>
</html>