{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block nav %}
	        <li><a href="/">New goal</a></li>
	        <li><a href="goalViewer">Your goals</a></li>
          <li class="active"><a href="#">Friends</a></li>
          <li><a href="about">About</a></li>
{% endblock %}	
{% block body %}
<div class="hero-unit">
  <div class="row">
 <h1> My Friends' Goals </h1>
 <br/>
  {% if friendGoals %}

      <div class="span6">
      <div class="row">
      {% for data in friendGoals.items %}
        <div class="well">
          <img src='http://graph.facebook.com/{{data.0.id}}/picture?type=large' /><p><b>{{ data.0.name }}'s</b> goals:</p>
            <table class="table table-striped" style="table-layout: fixed; width: 100%;">
              <thead>  
                <tr>  
                  <th>Goal Name</th>  
                  <th>Goal Description</th> 
                  <th>Deadline</th>  
                </tr>
              </thead>
            {% for friendGoal in data.1 %}
            <tbody>
             <tr>
                <td style="word-wrap: break-word"><b> {{ friendGoal.name }}</b>
                </td>
                <td style="word-wrap: break-word"> {{ friendGoal.description }}
                </td>
                <td style="word-wrap: break-word"> {{ friendGoal.dueDate }}
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
    </div>
    {% endfor %}
        </div>
    </div>
  </div>
   {% else %}
   <br/>
    <p> Your friends haven't published any public goals yet. </p>
  </div>
   {% endif %}

 </div>

{% endblock %}