{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block nav %}
	        <li class="active"><a href="#">Home</a></li>
	        <li><a href="newGoal">New goal</a></li>
	        <li><a href="goalViewer">Your goals</a></li>
          <li><a class="pull-right" href="#">Profile</a></li>
{% endblock %}	
{% block body %}
	<div class="hero-unit">
  <h1>Welcome to Improve {% if current_user %} {{ current_user.name }} {% endif %} !</h1>
  <br>
    <p>
    Improve! helps you to achieve your goals and challenge yourself. Your friends can support you to complete your challenges<br>
    Even more! You can challenge your friends! Improve and help the others to do the same!
  </p>
  
        <div class="row">
            <div class="span10 offset1"><hr></div>
        </div>
        <br/>

  <p><a class="btn btn-primary btn-large">More info</a></p>
  </div>

  {% if friendGoals %}
    {% for data in friendGoals.items %}
    <div class="well">
      <p>{{ data.0 }}</p>
      {% for friendGoal in data.1 %}
          <table class="table table-striped">
            <tbody>
             <tr>
                  <td><b> {{ friendGoal.name }}</b>
                  </td>
                  <td> {{ friendGoal.description }}
                  </td>
                  <td> {{ friendGoal.category }}
                  </td>
                  <td> {{ friendGoal.dueDate }}
                  </td>
              </tr>
            </tbody>
          </table>
      {% endfor %}
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}