{% extends "base.html" %}
{% block title %} Your goals {% endblock %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="newGoal">New goal</a></li>
    <li class="active"><a href="#">Your goals</a></li>
    <li><a href="#">Profile</a></li>
{% endblock %}

{% block body %}
    <style type="text/css">
      body { padding-top: 60px; }
    </style>

    <script type="text/javascript">
        
        //TODO: Solve "FB.init has already been called - this could indicate a problem"

        FB.init({appId: "435215956532387", status: true, cookie: true});

        function postSuccessToWall() {

            var username = document.getElementById('hdnUname').value;   //TODO: test
            var pictureLink = "Placeholder.jpg";
            var goalTitle =  document.getElementById('hdnGoalName').value;
            var goalDesc = document.getElementById('hdnGoalDesc').value;
            var fbDescription = username + " has accomplished " + goalTitle + " which was to " + goalDesc;
            var fbName = username + " has accomplished one of their goals!";

            // calling the API ...
            var obj = {
              method: 'feed',
              redirect_uri: 'https://apps.facebook.com/improve-app/goalViewer',
              link: 'http://apps.facebook.com/improve-app',
              picture: 'http://fbrell.com/f8.jpg',
              name: fbName,
              caption: 'Congratulations!',
              description: fbDescription
            };

            function callback(response) {
                if (response && response.post_id) {
                    alert('Post was published.');
                } else {
                    alert('Post was not published.');
                }
                //document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
            }

            FB.ui(obj, callback);

      }
    </script>   


        <input type=hidden id="hdnUname" value="{% if current_user %} {{ current_user.name }} {% endif %}"/> 
        <div class="container">
            <div class="row">
                <div class="span12"><h1>Active Goals!</h1></div>
            </div>
        </div>

    <br/>

   
    <table class="table table-striped">
        <thead>  
          <tr>  
            <th>Goal Name</th>  
            <th>Goal Description</th>  
            <th>Category</th>  
            <th>Deadline</th>
            <th>Created</th>
            <th>Public</th> 
            <th>Remove?</th> 
            <th>Finished?</th>     
          </tr> 
        <tbody>
          {% if goalsNumber%}

            {% for goal in goals %}

            <form action='/goalViewer'>
            <tr>
                <td><b> {{ goal.name }}</b>
                </td>
                <td> {{ goal.description }}
                </td>
                <td> {{ goal.category }}
                </td>
                <td> {{ goal.dueDate }}
                </td>
                <td> {{ goal.created }}
                </td>
                <td> {{ goal.public }} <input type='hidden' name="hdnGoalName" id="hdnGoalName" value='{{ goal.name }}' />
                                       <input type='hidden' name="hdnGoalDesc" id="hdnGoalDesc" value='{{ goal.description }}' /> 
                </td>
                <td> <input class='btn btn-warning' name='action' type="submit" value="Remove"/>
                </td>
                <td> <input class='btn btn-success' name='action' type="submit" value="Accomplished!" onclick="postSuccessToWall()"/>
                </td>  
            </tr>
            <input type='hidden' name='goalName' value='{{ goal.name }}'>
            </form>

            {% endfor %}
        {%endif%} 
        </tbody>

        </thead> 
    </table>

        <div class="row">
            <div class="span10 offset1"><hr></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="span12"><h1>Completed Goals!</h1></div>
            </div>
        </div>

        <br/>

    <table class="table table-striped">
        <thead>  
          <tr>  
            <th>Goal Name</th>  
            <th>Goal Description</th>  
            <th>Category</th>  
            <th>Deadline</th>
            <th>Created</th>
            <th>Public</th> 
            <th>Remove?</th>    
          </tr> 
        <tbody>
          {% if fGoalsNumber %}

            {% for goal in finishedGoals %}

            <form action='/goalViewer'>
            <tr>
                <td><b> {{ goal.name }} </b>
                </td>
                <td> {{ goal.description }}
                </td>
                <td> {{ goal.category }}
                </td>
                <td> {{ goal.dueDate }}
                </td>
                <td> {{ goal.created }}
                </td>
                <td> {{ goal.public }}
                </td>
                <td> <input class='btn btn-warning' name='action' type="submit" value="Remove"/>
                </td>
            </tr>

            <input type='hidden' name='goalName' value='{{ goal.name }}'>
            </form>

            {% endfor %}
        {%endif%} 
        </tbody>

        </thead> 
    </table>

    <div class="row">
           <div class="span10 offset1"><hr></div>
    </div>


<form action="/" type='post'>
        <div class="container">
            <div class="row">
                <div class="span3"><input class='btn btn-primary' type="submit" value="Back to Main"></div>
            </div>
        </div>
</form>
{% endblock %}