{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block nav %}
  <li><a href="/">New goal</a></li>
  <li><a href="goalViewer">Your goals</a></li>
  <li><a href="#">About</a></li>
{% endblock %}  

{% block body %}
<div class="hero-unit">
  <h1>Your Browser Does Not Support Cookies</h1>
  <br>
  <h2>Please enable cookies in your browser to use this application.</h2>
  <br>
  <p>Info on how to enable cookies in different browsers:</p>
  <a class="btn btn-primary btn-large" href="http://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences"> Firefox </a>
  <a class="btn btn-primary btn-large"  href="http://support.google.com/websearch/bin/answer.py?hl=en&answer=35851">Chrome</a>
  <a class="btn btn-primary btn-large" href="http://support.microsoft.com/kb/196955">Internet Explorer</a>
</div>
{% endblock %}  