{% extends "base.html" %}
{% block title %} Create a new goal {% endblock %}
{% block nav %}
	<li class="active"><a href="#">New goal</a></li>
	<li><a href="goalViewer">Your goals</a></li>
	<li><a href="friends">Friends</a></li>
	<li><a href="about">About</a></li>
{% endblock %}

{% block body %}
<input type=hidden id="hdnUname" value="{% if current_user %} {{ current_user.name }} {% endif %}"/>

<form action="/" id="newGoalForm" name="newGoalForm"  onsubmit="return validateNewGoalForm()" method="get" class="well">
   
	<div class="container">
		<div class="row">
		
		<div class="span6">
		<h1>Set A New Goal!</h1> 
		<div class="row">
			<div class="span2"><h4>This is a ... </h4></div>
			<div class="span4">
				<fieldset>          
        	<div class="control-group">
       		<div class="controls">
	   			 <select id = "ddGoalType" name = "goalType">
	       	 	 <option value="Fitness Goal">Fitness Goal</option>
	        	 <option value="Academic Goal">Academic Goal</option>
	        	 <option value="Life Goal">Life Goal</option>
            </select>
        	</div>
        	</div>
   		  </fieldset>
   		</div>
		</div>

		<div class="row">
			<div class="control-group" id="divRowTitle">
			<div class="controls">
			<div class="span2">
				
				<h4>Goal Title</h4></div>
				<div class="span4">
					<input id="tbGoalName" name="goalName" class="text" maxlength="40" type="text"/>
				</div>
			
			</div>
			</div>
		</div>

		<div class="row">
			<div class="control-group" id="divRowDesc">
			<div class="controls">
			<div class="span2">
				<h4>I Want To...</h4>
			</div>
			
			<div class="span4">
				<textarea rows="3" id="tbGoalDesc" name="goalDescription" maxlength="140">
				</textarea>
			</div>

			</div>
			</div>
		</div>

		<div class="row">
			<div class="span2">
			<h4>Set A Deadline?</h4>
			</div>
			<div class="span4">
				<input type="checkbox" name="cbEnableDeadline" id="cbEnableDeadline" onchange="changeDatePickerAv()">&nbsp;&nbsp;
				<input type="text" class="span2" name="goalDueDate" value="17/12/12" data-date-format="dd/mm/yy" id="datePickerDL" visible="false"></input>
			</div>
		</div>
		
		<div class="row">
			<div class="span6"><hr></div>
		</div>
		
		<div class="row">
			<div class="span4 offset1"><h4>Let All My Friends Know?</h4></div>
		</div>
		
		<div class="row">
			<div class="span6"><br/></div>
		</div>
		
		<div class="row">
			<div class="span3">
				<button id="btnGoalSubmitPublic" class="btn btn-primary" type="submit" onclick="postGoalToWall('publicBtnClicked')">Tell The World!</button>
			</div>
			<div class="span3">
				<button id="btnGoalSubmitPrivate" class="btn btn-primary" type="submit" onclick="postGoalToWall('privateBtnClicked')">Private Goal</button></div>
		</div>
	       <input type="hidden" id="userChosePublic" name="goalPublic" value="private"/>

		</div>
		<div class="span6">
				{% if goal %}
				<div class="hero-unit">
				<h2> A new goal has been added to the list! </h2>
				<p> <b>Name:</b> {{goal.name}} <p/>
				    <a class="btn btn-primary btn-large" href="goalViewer">
    					See your goal list
  					</a>
				</div>		
				{% endif %}
		</div>
	</div>

</form>

{% endblock %}
{% block scripts %}
<script src="bootstrap/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">

$(function(){
	$('#datePickerDL').datepicker();
	document.getElementById('datePickerDL').style.visibility="hidden";
});

function changeDatePickerAv(){
	var selectValue = document.getElementById('cbEnableDeadline').checked;
	if (selectValue == true)
	  document.getElementById('datePickerDL').style.visibility="visible";
	else
	  document.getElementById('datePickerDL').style.visibility="hidden";
}

</script>

{% endblock %}
