{% extends "base.html" %}
{% block title %} Your goals {% endblock %}

{% block nav %}
  <li><a href="/">New goal</a></li>
  <li class="active"><a href="#">Your goals</a></li>
  <li><a href="friends">Friends</a></li>
  <li><a href="about">About</a></li>
{% endblock %}

{% block body %}

<input type=hidden id="hdnUname" value="{% if current_user %} {{ current_user.name }} {% endif %}"/> 

<div class="container">
    <div class="row">
        <div class="span12"><h1>Active Goals!</h1></div>
    </div>
</div>

<br/>
<table class="table table-striped" style="table-layout: fixed; width: 100%">
  <thead>  
    <tr>  
      <th>Goal Name</th>  
      <th>Goal Description</th>  
      <th>Category</th>  
      <th>Deadline</th>
      <th>Created</th>
      <th>Public</th> 
      <th>Remove?</th>
      <th>Post Update?</th>  
      <th>Finished?</th>     
    </tr>
  </thead>    
  <tbody>
  {% if goalsNumber%}
    {% for goal in goals %}
    <form action='/goalViewer'>
    <tr>
        <td style="word-wrap: break-word" ><b> {{ goal.name }}</b>
        </td>
        <td style="word-wrap: break-word" > 
           {{ goal.description }}
        </td>
        <td> {{ goal.category }} </td>
        <td> {{ goal.dueDate }} </td>
        <td> {{goal.created|date:"d/m/Y"}} </td>
        <td> {{ goal.public }} 
        <input type='hidden' name="hdnGoalName" id="hdnGoalName" value='{{ goal.name }}' />
        <input type='hidden' name="hdnGoalDesc" id="hdnGoalDesc" value='{{ goal.description }}' /> 
        </td>
        <td>
          <input class='btn btn-warning' name='action' type="submit" value="Remove"/>
        </td>
        <td> 
          <input class='btn btn-primary' name='action' type="submit" value="Post an Update" onclick="postUpdateToWall()"/>
        </td>  
        <td> 
          <input class='btn btn-success' name='action' type="submit" value="Accomplished!" onclick="postSuccessToWall()"/>
        </td>  
    </tr>
    <input type='hidden' name='goalName' value='{{ goal.name }}'>
    </form>

    {% endfor %}
  {%endif%} 
  </tbody>
</table>

<div class="row">
    <div class="span10 offset1"><hr></div>
</div>
<div class="container">
    <div class="row">
        <div class="span12"><h1>Completed Goals!</h1></div>
    </div>
</div>
<br/>

<table class="table table-striped" tyle="table-layout: fixed; width: 100%">
    <thead>  
      <tr>  
        <th>Goal Name</th>  
        <th>Goal Description</th>  
        <th>Category</th>  
        <th>Deadline</th>
        <th>Created</th>
        <th>Public</th> 
        <th>Remove?</th>    
      </tr>
    </thead>    
    <tbody>
    {% if fGoalsNumber %}
      {% for goal in finishedGoals %}
        <form action='/goalViewer'>
        <tr>
            <td style="word-wrap: break-word" >
              <b> {{ goal.name }} </b>
            </td>
            <td style="word-wrap: break-word" >  
              {{ goal.description }}
            </td>
            <td> {{ goal.category }} </td>
            <td> {{ goal.dueDate }} </td>
            <td> {{goal.created|date:"d/m/Y"}} </td>
            <td> {{ goal.public }} </td>
            <td> 
              <input class='btn btn-warning' name='action' type="submit" value="Remove"/>
            </td>
        </tr>
        <input type='hidden' name='goalName' value='{{ goal.name }}'>
        </form>
        {% endfor %}
    {%endif%} 
    </tbody>
</table>

<div class="row">
       <div class="span10 offset1"><hr></div>
</div>


<form action="/" type='post'>
  <div class="container">
    <div class="row">
        <div class="span3">
          <input class='btn btn-primary' type="submit" value="Back to Main">
        </div>
    </div>
  </div>
</form>
{% endblock %}